
#pictureUrl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

#displayName {
 text-align center
 padding 0 padding-size 0.5rem
 margin 0
}

#userId {
 text-align center
 padding 0 padding-size 0.5rem
 margin 0
}

#decodedIDToken {
 color lighten(font-color, 50%)
 text-align center
 padding 0 padding-size 0.5rem
 margin 0
}
